* {
    margin:0;
    padding:0;
    font-size: 1rem;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.navbar {
    min-height: 180px;
}
.navbar-brand { 
    min-width: 130px;
    max-width: 180px;
}
.navbar-brand img {
    max-width: 100%;
    height: auto;
}
.navbar-nav { margin: auto;}
.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
}
ion-icon { font-size: 1.8rem; }
.navbar-toggler:focus { outline: none;} 

.jumbotron {
    min-height: 200px;
}

.nv-photo {
    max-width: 120px;
    height: auto;
}
.logos-rrss { font-size: 1.5rem; }

.section-body {
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 3.5em;
}
.article {
    position: relative;
}
.blockquote-footer {
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
}
.footer {
    min-height: 60px;
}
/* lg and xl screens */
@media screen and (min-width: 992px) {
    .blockquote-footer {
        font-size: 0.5rem;
    }
}

/* mobile */
@media screen and (max-width: 576px) {
    .section-body {
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 3.5em;
      }
}